:root {
  --background-color: #232323;
  --border: rgba(255, 255, 255, 0.26);
  --background-color-button: #303030;
  --border-button: rgba(255, 255, 255, 0.18);
  min-height: 100vh;
}

body {
  height: 100%;
  color: #232323;
  font-family: 'Hind', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  padding: 0;
  background-color: #fff;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
}
