.section__gradient {
  min-height: 25em;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  position: static;
}

.headline__wrapper {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: text;
  background-color: #faff00;
  background-image: linear-gradient(
    319deg,
    #faff00 0%,
    #ff1000 37%,
    #ff6a00 100%
  );
}

.headline__text {
  font-size: 12em;
  line-height: 0.95;
  top: 0%;
}

.section__middle {
  justify-content: center;
  align-items: center;
  display: flex;
}

.container {
  width: 100%;
  max-width: 97.5em;
  grid-column-gap: 7em;
  grid-row-gap: 7em;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  margin: 5em 5%;
  display: flex;
  position: static;
}

.middle__wrapper {
  grid-column-gap: 3.75em;
  grid-row-gap: 3.75em;
  justify-content: space-between;
  align-self: stretch;
  display: flex;
}

.middle__left {
  width: 50%;
  flex: 0 auto;
}

.middle__left__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.25em;
  font-weight: 700;
  line-height: 1;
}

.middle__right {
  width: 60ch;
}

.middle__right__text {
  color: #232323;
  flex: 0 auto;
  align-self: auto;
  margin-bottom: 0;
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.3;
}

.section__down {
  justify-content: center;
  align-items: center;
  display: flex;
}

.down_list__wrapper {
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  align-self: stretch;
  position: static;
  justify-content: space-between;
  display: flex;
}

.down_list__left {
  width: 40%;
  grid-column-gap: 4em;
  grid-row-gap: 2em;
  flex-direction: column;
  flex: 0 auto;
  justify-content: space-between;
  align-items: stretch;
  margin-left: 0;
  display: flex;
}

.down__contact__wrapper {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex-direction: column;
  display: flex;
}

.down__contact__text {
  font-size: 2em;
  font-weight: 700;
  line-height: 1;
  text-align: left;
}

.down__contact__wrapper P {
  color: #232323;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}

.down__contact__map {
  width: auto;
  height: 30em;
  flex: 1;
  align-self: stretch;
  border-radius: 30px;
}

.down_list__right {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 58%;
  max-width: 50em;
}

.down__form__wrapper {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 1em;
  flex-direction: column;
  padding: 1.83em 2.93em;
  display: flex;
}

.down__form__headline__text {
  font-size: 2em;
  font-weight: 700;
  line-height: 1;
}

.success {
  display: flex;
  flex-direction: column;
}

.success__text {
  margin-bottom: 20px;
}

.success__button {
  color: #fff;
  white-space: nowrap;
  background-color: #303030;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 8px;
  flex: none;
  align-self: center;
  padding: 10px 14px 11px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  position: static;
  text-decoration: none;
  cursor: pointer;
}

.success__button:hover {
  background-color: #fff;
  color: #303030;
  border: 1px solid #232323;
}
